:root {
    --main-font-family: "Roboto", sans-serif;
    --calendar-bg: #18191C;
    --calendar-text: #ffffff;
    --nav-color: #000000;
    --calendar-hover: #f0f0f0;
    --calendar-day-selected: #ffffff;
    --calendar-in-range: #ffffff;
    --calendar-hover: rgba(185, 184, 184, 0.16);
}